.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 10px;
  background-color: #0473e6; /* Tailwind blue-700 color */
  color: white;
  border: none;
  border-radius: 14px; /* Make the border round */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  transform: scale(1.02);
}
